.page-PostseE {
  display: flex;
  flex-direction: column;
}

.page-FormsE {
  display: flex;
  justify-content: center;
}

.principal-ImageE {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 796px;
  height: 607px;
  border-style: dashed;
  border-color: #d7d7eb;
  border-radius: 8px;
  cursor: pointer;
}

.principal-ImageE:hover {
  border-color: #c88b4a;
}

.upload-IconE {
  font-size: 10em;
  color: #d7d7eb;
}

.upload-IconE:hover {
  color: #c88b4a;
}

.file-imgE {
  cursor: pointer;
  display: flex;
}

.button-SelectE {
  display: flex;
  justify-content: end;
}

#file-upload-buttonE {
  cursor: pointer;
}

.principal-TitleE {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-InputE {
  font-weight: bold;
}

.add-TitleE {
  width: 380px;
  height: 40px;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #f3f3f4;
  border: none;
  cursor: pointer;
}

.principal-TagsE {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-TagsE {
  width: 380px;
  height: 40px;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #f3f3f4;
  border: none;
  cursor: pointer;
}

.tags-InputE {
  font-weight: bold;
}

.principal-DescriptionE {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description-InputE {
  font-weight: bold;
}

.description-textE {
  width: 380px;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #f3f3f4;
}

.button-CreateE {
  display: flex;
  justify-content: center;
}

.publish-PostE {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 240px;
  margin-bottom: 30px;
  margin-right: 30px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  background-color: #c88b4a;
}

.publish-PostE:hover {
  background-color: #c88b4a98;
}

.upload-imageE {
  width: 796px;
  height: 607px;
  border-radius: 8px;
}
